body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  
}


/* top-section start */
h1{
    font-size: 65px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 35px;
}

.headline{
    font-size: 28px;
    padding-top: 70px;
}
p{
    font-size: 25px;
    padding-bottom: 45px;
}
.name-color{
    color: rgb(104, 55, 55);
}

/* using display-flex */
.flexible-container{
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
    padding-top: 150px;
    padding-left: 110px;
    padding-bottom: 90px;
  
}

/* button */
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(63, 30, 30),rgba(58, 35, 51, 0.308));
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 5px;  
    letter-spacing: 7px;  
}

/* background-img */
.top-banner{
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    max-width: 100%;
  
}

/* top-section end */



/* about-area */
.about-area{
    background-image: linear-gradient(rgba(241, 221, 221, 0.425),rgba(218, 189, 195, 0.459));
}
.about-paragraph{
    padding-right:100px;
}



/* specialize-area */
.specialize-area{
    padding-top: 70px;
    text-align: center;
    
    
}
.specialize-paragraph{
    padding: 0 280px 90px;
    
}
.parent{
    display: flex;
    
}
.child{
    width: 40%;
    box-shadow: 10px 5px 40px rgb(49, 39, 39);
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 15px;
    border-radius: 0 20px 50px 0;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(63, 30, 30),rgba(116, 77, 104, 0.521)) 1 100%;
}


/* footer */
footer{
    text-align: center;
    background-image: linear-gradient(rgba(241, 221, 221, 0.425),rgba(218, 189, 195, 0.459));
    font-weight: 600;
    margin-top: 165px;
    padding-top: 30px;
}
.footer-paragraph{
    margin-bottom: 0;
}